version: '3.8'

services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: always
    hostname: "${GITLAB_HOST}"
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://${GITLAB_HOST}:${GITLAB_HTTP_PORT}'
        gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}
        puma['port'] = 8081
        gitlab_workhorse['auth_backend'] = "http://localhost:8081"
        gitlab_rails['ldap_enabled'] = true
        gitlab_rails['ldap_servers'] = YAML.load <<-'EOS'
          main:
            label: 'LDAP'
            host: '${LDAP_SERVER}'
            port: ${LDAP_PORT}
            uid: '${LDAP_UID}'
            base: '${LDAP_BASE}'
            bind_dn: '${LDAP_BIND_DN}'
            password: '${LDAP_PASSWORD}'
            encryption: 'plain'
            group_base: 'cn=groups,dc=gitlab,dc=example,dc=test'
            group_filter: '(objectClass=group)'
            # LDAP Gruppen zu GitLab Gruppen zuordnen
            group_mapping:
              admin_group: 'cn=admins,ou=groups,dc=gitlab,dc=example,dc=test'
              developer_group: 'cn=developers,ou=groups,dc=gitlab,dc=example,dc=test'
              user_group: 'cn=users,ou=groups,dc=gitlab,dc=example,dc=test'
            # LDAP Gruppe für GitLab Admins
            group_admin: 'cn=admin,ou=groups,dc=gitlab,dc=example,dc=test'
        EOS
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = "gitlab-mailhog"
        gitlab_rails['smtp_port'] = 1025
        gitlab_rails['smtp_user_name'] = nil
        gitlab_rails['smtp_password'] = nil
        gitlab_rails['smtp_domain'] = "example.test"
        gitlab_rails['smtp_authentication'] = "none"
        gitlab_rails['smtp_enable_starttls_auto'] = false
        gitlab_rails['smtp_tls'] = false
    ports:
      - "${GITLAB_HTTP_PORT}:8080"
      - "${GITLAB_HTTPS_PORT}:443"
      - "${GITLAB_SSH_PORT}:22"
    volumes:
      - './config:/etc/gitlab'
      - './logs:/var/log/gitlab'
      - './data:/var/opt/gitlab'
    networks:
      - gitlab-network

  gitlab-runner:
    image: gitlab/gitlab-runner:alpine
    container_name: "gitlab-runner"
    deploy:
      mode: replicated
      replicas: 1 # Diese Zahl kannst du dynamisch ändern
    environment:
      - CI_SERVER_URL=http://gitlab
      - REGISTRATION_TOKEN=${REGISTRATION_TOKEN} # Ersetze <TOKEN> durch deinen tatsächlichen Token
    volumes:
      - './runner-config:/etc/gitlab-runner'
      - '/var/run/docker.sock:/var/run/docker.sock'
    networks:
      - gitlab-network

  ldap:
    container_name: "gitlab-ldap"
    build:
      context: ./ldap
    image: "gitlab_ldap"
    networks:
      - gitlab-network

  mailhog:
    container_name: "gitlab-mailhog"
    build:
      context: ./mailhog
    image: gitlab_mailhog
    networks:
      - gitlab-network
    ports:
      - 48082:8025
      - 41025:1025

networks:
  gitlab-network:
    driver: bridge
