# Host und Ports
GITLAB_HOST=dev-lem-fr.lab.bfs.de
GITLAB_HTTP_PORT=8080
GITLAB_HTTP_URL=/gitlab
GITLAB_HTTPS_PORT=8443
GITLAB_SSH_PORT=2222
GITLAB_INITIAL_ROOT_PASSWORD=your5ecureGitlabPa55word

# LDAP Konfiguration
LDAP_SERVER=ldap.example.com
LDAP_PORT=389
LDAP_BASE=dc=bfs,dc=de
LDAP_UID=uid
# authentifizierter BIND
# LDAP_BIND_DN=cn=admin,dc=example,dc=com
# LDAP_PASSWORD=secret
# anonymer BIND
LDAP_BIND_DN=
LDAP_PASSWORD=

# GitLab Runner Registrierung
REGISTRATION_TOKEN=yourregistrationtokenhere
